.App {
	text-align: center;

	.button {
		font-weight: bold;
	}
	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		background-color: #727564;
		padding: 10px;
	}
	.student {
		border: 1px solid rgba(0, 0, 0, 0.8);
		padding: 10px;
		font-size: 15px;
		text-align: center;
		background-color: aqua;
	}
	.text-box {
		margin: 1%;
	}
}

